In [3]:
#nested for loop
for i in range(1,6):
    for j in range(1,6):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

In [1]:
for i in range(1,6):
    for j in range(1,6):
        if j==3:
            continue
        print(i,j)

1 1
1 2
1 4
1 5
2 1
2 2
2 4
2 5
3 1
3 2
3 4
3 5
4 1
4 2
4 4
4 5
5 1
5 2
5 4
5 5

In [7]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
for i in range(1,5):
    print(" "*(6-i),end=" ")
    for j in range(i):
        print(i,end=" ")
    print()

      1
     2 2
    3 3 3
   4 4 4 4

In [8]:
for i in range(1,6):
    print(" "*(10-i),end=" ")
    for j in range(i):
        print(i,end=" ")
    print()

          1
         2 2
        3 3 3
       4 4 4 4
      5 5 5 5 5

In [4]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [9]:
for i in range(1,6):
    print(" "*(10-i),end=" ")
    for j in range(i):
        print(j,end=" ")
    print()

          0
         0 1
        0 1 2
       0 1 2 3
      0 1 2 3 4

In [10]:
#functions
def greet():
    print("hello,world!")
greet()

hello,world!

In [11]:
def my_name():
    print("sirisha")
my_name()

sirisha

In [12]:
def multiply(a,b):
    return a*b
result=multiply(3,5)
print(result)

15